* {box-sizing: border-box;

  left: 0;
  right: 0;
  top: 0;
}
html,body{width: 100%;
height: 100%;
display:flex;
justify-content: center;
background: yellow;}

.butnav {
  position: relative;
  border-radius: 19px;
  border: none;
  text-transform: uppercase;
  border-bottom: solid black 2px;
  cursor: pointer;
  filter:drop-shadow( rgba(0,0,0,0.4) 5px 1px);
}
.butnav:hover {
  box-shadow: 5px 1px rgba(0,0,0,0.2);
}
#bg-top {
  width: 100%;
  position: absolute;
}
#navbar img {
  border-radius: 20px;
}
#navbar {
  padding-top: 0.5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#nav {
  position: absolute;
  margin-top: 7vh;
  width: 100%;
  height: 10vh;
  background-color: #6495edb3;
  padding-top: 5vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
input{
    border-radius: 1vh;
    border:none;
    height:3vh;
    filter: drop-shadow(2px 3px cadetblue );
    
}
 input:hover{
    cursor: pointer;
 }

@keyframes bounce{
    from {transform: translateX(0);}
    to   {transform: translateX(30px);}
}
.name{
animation: boum 3s infinite alternate ;


}
@keyframes boum{
from {transform: translateY(0);}
to   {transform: translateY(-30px) ;} 
}
/* .card-box{
    display:flex;
    position:absolute;
    width: 10vw;
    background-color: aqua;
    padding-bottom:20vh;
    margin-top: 83vh;
    margin-left: 20vw;
    justify-content: center;
} */
.wrapper{
  position:relative;
  display: flex;
  width:70%;
  justify-content: space-between;
  padding-top: 50vh;
 
}
.card{
    width: 250px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display:flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0, 0,0.5);
    transition: 0.5s ease-in-out;

}
.card:hover{
  transform: translateY(20px)
}
.card:before{
   content: "";
   position: absolute;
   top:0;
   left:0;
   display: block;
   width: 100%;
   height: 100%;
   background: linear-gradient(to bottom ,rgba(0,176,155,0.5) ,rgba(150,201,61,0.5));
   z-index: 2;
   transition: 0.5s all;
   opacity: 1;
}
.card:hover:before{
   opacity: 0;
}
.card img{
  width: 100%;
  height:100%;
  object-fit: cover;
  position: absolute;
  top:0;
  left: 0;
}
.card info{
  position: relative;
  z-index: 3;
  color:#fff;
  opacity: 1;
  transform:translateY(30px);
  transition:0.5s ease-in-out;
}
.card:hover .info{
  opacity: 1;
  transform:translateY(30px);

}
.card .info h2{
  text-align: center;
  margin:0;
  color:cyan;
}
.card .info p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
  color:cyan;
}
.card .info .bt{
  text-decoration: none;
  margin-left: 50px;
  color: cyan ;
  font-size: 14px;
  transition: 0.9s ease-in-out;
  background: #fff;
  border: 1px black solid;
}
.card .info .bt:hover{
  box-shadow: 0px 7px 10px rgba(0,0, 0,0.5);
  align-items: center; 
}
